.Form {
  margin-bottom: 20px;

  &__element {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    background: #fffefb;
    border: transparent;
    border-radius: 4px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .04), 0 6px 10px rgba(0, 0, 0, .02);
    margin-right: 10px;
    outline-color: #f2891f;
    padding-left: 10px;
    width: 100%;
  }
}
