.Todo-list {
  &__todos {
    list-style: none;
    padding: 0;
  }

  &__todo {
    background: #fffefb;
    border-radius: 4px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .04), 0 6px 10px rgba(0, 0, 0, .02);
    margin-bottom: 10px;
    padding: 20px 15px;
  }
}
