.Todo-item {
  align-items: center;
  background: #fffefb;
  border-radius: 4px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, .04), 0 6px 10px rgba(0, 0, 0, .02);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px 15px;
  text-align: start;

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70px;
  }
}
