.Todo-item {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70px;
  }
}
